#freatured {
  img {
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  .card {
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: white;
    }

  }
}